*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-weight: 500;
}

.menu {
    background-color: #3F0066;
    height: 60px;
}

.navbar-collapse {
    background-color: #3F0066;
}

.navbar .fa {
    color: #ffff !important;
}

.navbar-toggler {
    outline: none !important;
    border: none;
}

.nav-link {
    font-size: 13px !important;

}

.fa-solid,
.fas {
    font-weight: 900;
    color: white;
    outline: none;
}

i.fa-solid.fa-magnifying-glass {
    color: gray;
}

.primary-color {
    color: #F3291A;
}

.secondary-color {
    color: #3F0066;
}

.primary-button {
    background-color: #F2291A;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px !important;
    border: none;
}



.search-button {
    height: 33px;
    width: 40px;
}

/* banner section  */
.banner {
    background-image: url(../assets/header-bg.png);
    background-size: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #65008B;
}

.banner-text-color {
    color: #AF85F9;
}

.banner-small-text {
    font-size: 14px;
}

.banner-button {
    margin-top: 4rem;
}

.banner-join-button {
    padding: 11px 45px;
    font-size: 17px;
    margin-right: .5rem;
}

.secondary-button {
    background-color: #9E67FF;
    border: none;
    padding: 8px 60px;
    font-size: 17px;
}

.video-header-text {
    font-size: 14px;
}

/* advanced card  */
.advanced-card-img {
    margin-right: 10px;
}

/* perform image */
.perform-image {
    margin-top: -10px;
}

.relative {
    height: 300px;
    width: 200px;
    /* border: 3px solid red; */
    position: relative;
}

.absulate {
    position: absolute;
    top: 70px;
    left: 8px;
}

/* WHY HACKERHAC AT  */
.image-relative {
    position: relative;
}

.image-absulate {
    position: absolute;
    top: 0px;
    left: 8px;
}

.section-container {
    width: 94%;
    margin: 0 auto;
}

/* certification courses */
i.fa-solid.fa-layer-group {
    color: #F3291A;
    font-size: 13px;
}

i.fa-solid.fa-user-graduate {
    color: #F3291A;
}

i.fa-solid.fa-star {
    color: #FFA400;
}

/* courses section */
.courses {
    background-color: #F1F1F1;
}

.course-info {
    font-size: 12px;
}

.course-price {
    font-size: 17px;
}

.courses-btn {
    background-color: transparent;
    color: #65008B;
    padding: 5px 25px;
    font-size: 17px;
    font-weight: 600;
    border: 3px solid #65008B;
    border-radius: 1rem;
    transition: 0.3s;
    position: absolute;
    right: 3rem;
}

.courses-btn:hover {
    background-color: #65008B;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

/* skill test */
.skil-test {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
}

.skill-card {
    width: 20rem;
}

/* challange card */
.challange-card {
    background-image: url(../assets/banner-1.jpg);
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-bg {
    background-color: rgba(12, 12, 12, 0.363) !important;
}

i.fa-solid.fa-user {
    color: #919192;
    font-size: 13px;

}

.challenge-card-text {
    color: #626264;
    font-size: 15px;
}

.challange-card-text-2 {
    font-size: 14px;
    color: #919192;
}

.card-footer {
    background-color: #e2dcdc;
    height: 33px;
}

.start-now-btn {
    background-color: #F3291A;
    border: none;
    font-size: 16px;
    padding: 2px 23px;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 3rem;
}

.contests-btn {
    background-color: transparent;
    color: #65008B;
    padding: 5px 25px;
    font-size: 17px;
    font-weight: 600;
    border: 3px solid #65008B;
    border-radius: 1rem;
    transition: 0.3s;
    margin: 10px auto;
}

.interview-card {
    width: 28rem;
}

i.fa-solid.fa-angle-right {
    color: #F3291A;
}

/* morder business */
.border-right-bottom {
    border-right: 2px dotted rgb(240, 240, 240);
    border-bottom: 2px dotted rgb(240, 240, 240);
    ;
}

.border-right {
    border-right: 2px dotted rgb(240, 240, 240);
}

.border-botom {
    border-bottom: 2px dotted rgb(240, 240, 240);
}

.register-button {
    background-color: #3F0066;
    color: white;
    padding: 5px 17px;
    border-radius: 18px;
    font-size: 18px;
    border: none;
    transition: .3s;
}

.register-button:hover {
    background-color: #F2291A;
    transition: .3s;

}

i.register-icon.fa-solid.fa-angle-right {
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
}

.register-icon2 {
    color: white !important;
    font-size: 18px;
    letter-spacing: 5px;
    opacity: 60%;
    margin-bottom: 7px;
}

/* HackerHac */
.choose-bg {
    background-color: #F2291A;
    color: white;
    padding: 0 5px;
}

.text-muted {
    font-size: 17px;
}

.accordian-header {
    font-size: 1rem;

}

button.accordion-button {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.register-accordian {
    background-color: #F2291A;
    color: white;
    padding: 5px 17px;
    border-radius: 18px;
    font-size: 18px;
    border: none;
    transition: .3s;
}

/* circle-image */
.qualified {
    background-color: #F1E9FF;
}

.rounded-circle {
    border: 5px solid #dedbe4;
}

.connection-relative {
    height: 140px;
    width: 200px;
    /* border: 3px solid red; */
    position: relative;
}

.connection-absulate {
    position: absolute;
    top: -26px;
    right: 74px;
}

.logo-absulate {
    position: absolute;
    bottom: -15px;
    padding: 10px !important;
}

.connection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
}

.review-bg {
    background-color: #3F0066;
    padding: 2px 7px;
}

.carusel-section {
    background-color: #FBFBFB;
}

.carusel-img {
    height: 120px;
    width: 180px;
}

.footer-bg {
    background-color: #161021;
    height: 450px;
}

/* media query */
@media only screen and (min-width: 320px) and (max-width:480px) {
    .navbar-brand {
        font-weight: 500
    }

    .nav-input {
        width: 180px;
        font-size: 10px;
        height: 35px;
        padding-left: 3px;
        margin-top: 5px;
    }

    .search-button {
        height: 34px;
        width: 40px;
        margin-top: 5px;
    }

    /* banner section */
    .secondary-button {
        margin-top: 1rem;
    }

    /* skill test */
    .skil-test {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 0px;
    }


}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .nav-input {
        width: 180px;
        font-size: 10px;
        height: 35px;
        padding-left: 3px;
    }

    /* banner section */
    .secondary-button {
        margin-top: 1rem;
    }

    /* skill test */
    .skil-test {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    }

    .skill-card {
        width: 17rem;
    }

}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    .nav-input {
        width: 150px;
        font-size: 9px;
        height: 38px;
        padding-left: 3px;
    }

    .nav-link {
        font-size: .5rem !important;
    }

    .navbar-brand {
        font-weight: 500
    }

    .search-button {
        height: 36px;
        width: 40px;
    }

    /* banner section */

    .banner-join-button {
        padding: 11px 10px;
        font-size: 17px;
        margin-right: .5rem;
    }

    .secondary-button {
        background-color: #9E67FF;
        border: none;
        padding: 8px 20px;
        font-size: 17px;
    }

    /* skill test */
    .skill-card {
        width: 18rem;
    }

    .courses-btn {
        position: absolute;
        right: 0;
    }

}

@media only screen and (min-width: 1025px) and (max-width:1200px) {
    .nav-input {
        width: 160px;
        font-size: 9px;
        height: 38px;
        padding-left: 3px;
    }

    .nav-link {
        font-size: .5rem !important;
    }

    .navbar-brand {
        font-weight: 500
    }

    .search-button {
        height: 36px;
        width: 40px;
    }

    /* banner section */

    .banner-join-button {
        padding: 11px 10px;
        font-size: 17px;
        margin-right: .5rem;
    }

    .secondary-button {
        background-color: #9E67FF;
        border: none;
        padding: 8px 20px;
        font-size: 17px;
    }
}

@media only screen and (min-width: 1201px) and (max-width:1240px) {
    .nav-input {
        width: 250px;
        font-size: 15px;
        height: 38px;
        padding-left: 3px;
    }
}

@media only screen and (min-width: 1241px) {
    .nav-input {
        width: 250px;
        font-size: 15px;
        height: 38px;
        padding-left: 3px;
    }

    .nav-link {
        font-size: .7rem !important;
        /* margin-right: .2rem; */
    }

    .navbar-brand {
        font-weight: 700
    }

    .search-button {
        height: 36px;
        width: 40px;
    }


}